body {
  padding-top: 40px;
  background-image: url("../images/back.home.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.home-title {
  padding: 40px 15px;
  text-align: center;
}
