body {
  padding-top: 20px;
  background-image: url("../images/back.home.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.home-title {
  padding: 20px 5px 5px 5px;
  text-align: center;
}
